version: 2.1
orbs:
  cypress: cypress-io/cypress@1.7.0
workflows:
  build:
    jobs:
      - cypress/run:
          # we need to start the web application
          start: npm start
          # there are no jobs to follow this one
          # so no need to save the workspace files (saves time)
          no-workspace: true
          post-steps:
            # store the created coverage report folder
            # you can click on it in the CircleCI UI
            # to see live static HTML site
            - store_artifacts:
                path: coverage
            # print code coverage summary to the terminal
            - run: npx nyc report
            # publish new version if necessary
            - run: npm run semantic-release

